.comments {
  padding-bottom: 30px;

  .comments_input__container {
    display: flex;
    position: relative;
    font-size: $fontSize12;
    margin: 10px 0;

    .comments_input {
      width: 100%;
      min-height: 40px;
      overflow-y: hidden;
      background-color: transparent;
      border: 1px solid #dedede;
      border-radius: 3px;
      padding: 0 35px 0 10px;
      resize: none;
      outline: none;

      &.not-logging {
        cursor: pointer;
      }
    }

    button {
      background-color: transparent;
      border: none;
      position: absolute;
      bottom: 14px;
      right: 10px;
      cursor: pointer;
    }
  }

  .comments__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0 5px;

    p {
      margin: 0;
    }

    .comments__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      // margin: 0 10px 15px 10px;

      .comments__wrapper-info {
        display: flex;
        align-items: center;
        gap: 5px;

        &.my {
          font-size: 8px;
          font-weight: 700;
          padding: 2px;
          background-color: $main_color;
          color: #ffffff;
          border-radius: 5px;
        }
        > p,
        button {
          font-size: $fontSize11;
          color: #94969b;
        }
      }
      .comments__wrapper-content {
        font-size: $fontSize12;
      }
    }

    .comments__delete {
      width: 25px;
      color: #94969b;
      font-size: $fontSize11;
    }

    .notComments {
      margin: 50px 0;
      display: flex;
      align-items: center;
      flex-direction: column;

      .notCommentsIcon {
        font-size: 32px;
      }
    }
  }
}
