.detailPostBox {
  width: 100%;
  padding: 0 30px;

  .detailPostBox_header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #eee;
    position: relative;

    > h2 {
      font-size: $fontSize28;
      margin: 0;
    }
  }

  .detailPostBox-header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $fontSize12;
    color: #94969b;
    margin: 20px 0 5px 0;
  }

  .detailPostBox-header__container-text {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .detailPostBox_contents {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    gap: 30px;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: keep-all;
    min-height: 150px;

    > p {
      font-size: $fontSize18;
    }

    > img {
      position: relative !important;
      height: auto;
      object-fit: cover;
    }
  }

  .detail-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail-footer__container {
      display: flex;
      align-items: center;
      gap: 20px;

      &.comment {
        gap: 5px;
      }

      &.like {
        border: none;
        background-color: transparent;
        font-size: $fontSize12;
        gap: 5px;
        cursor: pointer;
      }

      span {
        font-size: $fontSize12;
      }
    }

    .detailPostBox_share {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }
}
.ant-skeleton.ant-skeleton-element .ant-skeleton-image {
  width: 100% !important;
  min-height: 300px !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  font-size: $fontSize11;
}
